body {
    margin: 0;
    padding: 0;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    color: #030303;
    font-size: 14px;
    line-height: 5px;
    letter-spacing: 1px;
    background-color: #ffffff;

}


canvas {
  display: block;
}

button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  background: none;
  border-style: solid;
  border-radius: 10px;
  color: #030303;
  text-align: center;
}

#play {
  width: 50px;
}

#popup {
  position: absolute;
  top: 55px; 
  left: 15px; 
  background-color: white; 
  padding: 10px;
  border-radius: 5px;
  height: 450px;
  width: 710px;
  display: none;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  line-height: 15px;
  padding-left: 50px;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
